/* [project]/src/styles/BlogFilter.module.css [client] (css) */
.BlogFilter-module__Hhdjsq__BlogFilter {
  overflow: visible;
  font-family: Nunito, sans-serif;
}

.BlogFilter-module__Hhdjsq__navWrapper {
  position: relative;
}

.BlogFilter-module__Hhdjsq__tableTitle {
  background-color: #333;
  border-radius: 5px;
  padding: 9px 18px;
  cursor: pointer;
  position: relative;
}

.BlogFilter-module__Hhdjsq__tableTitle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  width: 9px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: translateY(-50%)rotate(45deg);
  transition: transform .3s ease-in-out;
}

.BlogFilter-module__Hhdjsq__tableTitle.BlogFilter-module__Hhdjsq__active:after {
  transform: translateY(-50%)rotate(225deg);
}

.BlogFilter-module__Hhdjsq__list {
  background-color: #333;
  margin-top: 2px;
  padding: 10px;
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.BlogFilter-module__Hhdjsq__list.BlogFilter-module__Hhdjsq__active {
  opacity: 1;
}

.BlogFilter-module__Hhdjsq__list li {
  color: #fff;
  padding: 3px 0 3px 6px;
  margin: 8px 0 7px;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
  width: calc(100% - 6px);
  box-sizing: border-box;
}

.BlogFilter-module__Hhdjsq__list li:hover {
  background-color: #fa198c;
}

.BlogFilter-module__Hhdjsq__list li.BlogFilter-module__Hhdjsq__active {
  color: #fa198c;
  background-color: #fff;
}

.BlogFilter-module__Hhdjsq__inputWrapper {
  width: 100%;
  height: 43px;
  position: relative;
  border-bottom: .4px solid #ccc;
}

.BlogFilter-module__Hhdjsq__inputWrapper input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 0 60px 0 20px;
  height: 46px;
  font-size: 20px;
  color: #fff;
  background-color: #0000;
}

.BlogFilter-module__Hhdjsq__inputWrapper input::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .8;
}

.BlogFilter-module__Hhdjsq__inputWrapper .BlogFilter-module__Hhdjsq__search-btn {
  position: absolute;
  right: 5px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.BlogFilter-module__Hhdjsq__FieldWrap {
  display: none;
  margin-bottom: 20px;
}

.BlogFilter-module__Hhdjsq__FieldWrap.BlogFilter-module__Hhdjsq__active {
  display: block;
}

.BlogFilter-module__Hhdjsq__FilterBadge {
  font-size: 18px;
  color: #fff;
  background-color: #202020;
  padding: 11px 64px 11px 15px;
  margin: 0 27px 10px 0;
  border: 1px solid #707070;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.BlogFilter-module__Hhdjsq__FilterBadge:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 18px;
  height: 17px;
  background: url("/images/close-filter.svg") 50% no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}

.BlogFilter-module__Hhdjsq__clearBtn {
  display: none;
  margin-bottom: 20px;
}

.BlogFilter-module__Hhdjsq__clearBtn.BlogFilter-module__Hhdjsq__active {
  display: inline-block;
}

.BlogFilter-module__Hhdjsq__noResult {
  display: none;
  margin-top: 30px;
}

.BlogFilter-module__Hhdjsq__noResult.BlogFilter-module__Hhdjsq__active {
  display: block;
}

.BlogFilter-module__Hhdjsq__pagination-button {
  display: none;
  padding-top: 40px;
}

.BlogFilter-module__Hhdjsq__pagination-button.BlogFilter-module__Hhdjsq__active {
  display: block;
}

.BlogFilter-module__Hhdjsq__paginationItem {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.BlogFilter-module__Hhdjsq__paginationItem.BlogFilter-module__Hhdjsq__active {
  color: #fa198c;
}

.BlogFilter-module__Hhdjsq__paginationItem.BlogFilter-module__Hhdjsq__disabled {
  display: none;
}

/*# sourceMappingURL=src_styles_BlogFilter_module_735113.css.map*/